

h3
{
text-align: left;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size:large;
}

.css
{

             font-style: italic;
 
}

#html
{

       border-style: dotted;
       style="text-align:center ;"
}

.css1
{

    font-family: times, serif; font-size:14pt; font-style:italic; 
}
